<div class="row justify-content-center">
  <div class="col-lg-8 ">
    <h1>Dodaj obvestilo:</h1>
    <form (ngSubmit)="dodaj_obvestilo()" [formGroup]="obvestiloObrazec">
      <div class="form-group">
        <label for="sporocilo">Sporočilo za uporabnike:</label>
        <input
          type="text"
          class="form-control"
          id="sporocilo"
          formControlName="sporocilo"
          required
        />
        <div [hidden]="obvestiloObrazec.valid" class="alert alert-danger">
          Sporočilo ne more biti prazno.
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="obvestiloObrazec.pristine || obvestiloObrazec.invalid"
      >
        Dodaj obvestilo
      </button>
    </form>
    <br />
    <h1>Obvestila:</h1>
    <div *ngIf="obvestila$ | async; let obvestila$">
      <ul class="list-group" *ngIf="obvestila$.length > 0">
        <li class="list-group-item" *ngFor="let obvestilo of obvestila$">
          {{ obvestilo.sporocilo }}
          <button
            class="btn btn-outline-danger btn-sm p-1 float-right"
            (click)="izbrisi_obvestilo(obvestilo)"
          >
            <i class="far fa-trash-alt"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
