<!-- Card -->
<div class="row">
  <div *ngFor="let dogodek of dogodki$ | async" class="col-lg-2 m-2">
    <!-- Card -->
    <div class="card">
      <!-- Card image -->

      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">{{ dogodek.ime }}</h4>
        <p class="card-text">{{ dogodek.organizator }}</p>
        <!-- Text -->
        <p class="card-text">
                {{ dogodek.opis }}
        </p>
        <!-- Button -->
      </div>
      <!-- Card footer -->
      <div class="card-footer text-muted text-center">
            {{ dogodek.datum }}
      </div>
    </div>
    <!-- Card -->
  </div>
  </div>