<div class="container-fluid h-100 mt-5">
    <div class="row justify-content-center align-items-center align-middle">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <form [formGroup]="prijavniObrazec" novalidate
                (ngSubmit)="prijavi_se()">
                <div class="form-group">
                    <input  formControlName="email" 
                            class="form-control form-control-lg" 
                            placeholder="Email" 
                            type="text">
                </div>
                <div class="form-group">
                    <input  formControlName="geslo" 
                            class="form-control form-control-lg" 
                            placeholder="Geslo" 
                            type="password">
                    </div>
                <div class="form-group">
                    <button type="submit" id="login-submit"
                            class="btn btn-primary btn-lg btn-block"
                            [disabled]="prijavniObrazec.pristine || prijavniObrazec.invalid">
                        Prijava
                    </button>
                </div>
            </form>
            <div *ngIf=" krmilnik.uspeh" class="alert alert-success" role="alert">
                {{ krmilnik.uspeh }}
            </div>
            <div *ngIf=" krmilnik.napaka" class="alert alert-danger" role="alert">
                {{ krmilnik.napaka }}
            </div>
        </div>
    </div>
</div>