<div class="container-fluid h-100 mt-5">
    <div class="row justify-content-center align-items-center align-middle">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                
            <form [formGroup]="registracijskiObrazec" novalidate
                (ngSubmit)="registriraj_se()">
                <div class="form-group">
                    <input  formControlName="email" 
                            class="form-control form-control-lg" 
                            placeholder="Email" 
                            type="text">
                </div>
                <div class="form-group">
                    <input  formControlName="geslo1" 
                            class="form-control form-control-lg" 
                            placeholder="Geslo" 
                            type="password">
                </div>
                <div class="form-group">
                    <input  formControlName="geslo2" 
                            class="form-control form-control-lg" 
                            placeholder="Ponovi geslo" 
                            type="password">
                    </div>
                <div class="form-group">
                    <button type="submit" id="register-submit"
                            class="btn btn-primary btn-lg btn-block"
                            [disabled]="registracijskiObrazec.pristine || registracijskiObrazec.invalid">
                        Registracija
                    </button>
                </div>
            </form>
            <a href="" (click)="pogojiUporabe()">Z registracijo se strinjate s pogoji uporabe.</a>
            <div *ngIf=" krmilnik.uspeh" class="alert alert-success" role="alert">
                {{ krmilnik.uspeh }}
            </div>
            <div *ngIf=" krmilnik.napaka" class="alert alert-danger" role="alert">
                {{ krmilnik.napaka }}
            </div>
        </div>
    </div>
</div>

<ng-template #modalPogoji let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Splošni pogoji</h5>
        <button type="button" class="close" (click)="close()">
                <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Z registracijo soglašate, da aplikacija StraightAs in v njenem imenu podjetje StraightAs d.o.o upravlja z vsemi podatki, ki jih boste kadarkoli posredovali med uporabo aplikacije, izključno za namene nemotene uporabe aplikacije ter za njeno optimizacijo in izboljšanje. Med uporabo aplikacije lahko kadarkoli zahtevate izbris vseh z Vašim računom povezanih podatkov, prav tako se ti izbrišejo v primeru izbrisa računa. Podjetje StraightAs d.o.o zagotavlja, da podatkov ne bo posredoval zunanjim partnerjem ali nepooblaščenim osebam, prav tako lahko do njih dostopajo samo pooblaščene osebe. Pred uporabo natančno preberite navodila, v primeru neželenih učinkov se posvetujte s prijatelji ali babico (če jo seveda imate). Podjetje StraightAs d.o.o ne odgovarja za posledicami kakršnihkoli psihičnih ali fizičnih poškodb, ki so nastale v povezavi z uporabo aplikacije, uporaba je na lastno odgovornost. Prav tako podjetje ne odgovarja za nedostopnost oz. napake v programski kodi ter morebitne programske ranljivosti ter se distancira od vseh posledic, ki so nastale zaradi napak in ranljivosti. Če opazite, kakšno napako, jo prosim sporočite na številko (01)-234-5678. Vseeno Vam podjetje zagotavlja, da so podatki shranjeni po najsodobnejših standardih ter praksah zaščite podatkov. Podjetje StraightAs obvesti uporabnike s sistemom za obveščanje v primeru domnevnih ali dejanskih prevar in goljufij ali varnostnih groženj. O splošnih grožnjah ali drugih varnostnih tveganjih podjetje obvešča uporabnike tudi na svoji spletni strani www.straightAs.si ali preko elektronske pošte ali na drug primeren način. Obveznosti uporabnika so, da zagotovi svoj računalnik ali drugo napravo za dostop do spletne strani, ki je vključen v omrežje in pravilno deluje v skladu z vsemi varnostnimi navodili proizvajalca ali dobavitelja ter varnostnimi navodili telekomunikacijskega dobavitelja ter ga uporabnik zakonito poseduje in uporablja. Uporabnik je tudi zadolžen za skrbno varovanje svojih osebnih podatkov ter da ne uporablja aplikacije v bližini oseb, ki bi utegnile te podatke zlorabiti. Podjetje StraightAs zagotavlja, da bo obvestilo uporabnike tudi o vseh spremembah splošnih pogojev. Besedilo spremenjenih splošnih pogojev bo dostopno preko spletne strani podjetja. Uporabnik se zavezuje, da bo daroval kakšno ledvico, v primeru, da bo od podjetja dobil poziv za to. Morebitne stroške uporabe aplikacije in njenih posledic uporabnik krije sam. Te splošni pogoji so veljavni od začetka objave spletne aplikacije in veljajo do nadaljnjega oz. do morebitnih sprememb.
    </div>
</ng-template>